body {
  background-color: black;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.navigation ul {
  display: flex;
  gap: 50px;
  text-decoration: none;
}

.navigation ul li a {
  text-decoration: none;
  color: white;
}

.navigation li a {
  text-decoration: none;
  color: white;
}

.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}

.main h1 {
  font-size: 50px;
  width: 50%;
  text-align: center;
  color: white;
}

.button {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(50, 236, 143);
  color: black;
  border: none;
  font-weight: bold;
}

.remote {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: transparent;
  color: yellow;
  border: 1px solid yellow;
}

.image {
  width: 80%;
  margin: 5%;
}
