.navigation{
    max-width: 100vw;
    /* background-color: rgb(98, 101, 101); */
    height: 10vh;
    
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    max-height: 5vh;
    max-width: 5vh;
}

.menu ul{
    list-style-type: none;
     display: flex;
     align-items: center;
    gap: 10px;
}

.menu ul li > *{
    text-decoration: none;
    color: aliceblue;
}

.navigation-profile{
    max-width: 5vh;
    max-height: 5vh;
}


.image{
    position: relative;
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: start;
    /* background-color: blue; */
    padding: 10px 5px;

}

.profile-logout-button{
    width: 100%;
    display: none;
}
