nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 35, 56, 0.6);
    color: white;
    max-width: 60vw;
    height: 10vh;
    border-radius: 20px;
    margin: 10px 20vw;


}


nav:hover{
    border: 1px solid transparent;
    animation: navBorder 0.8s infinite

}


nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    gap: 50px;
}

ul li > *{
     text-decoration: none;
     color: white;
}


/*  Animations */



@keyframes navBorder {
    0% {
        border-top-color: rgb(232, 154, 228);
    }

    50%{
        border-left-color: rgb(232, 154, 228);
 
    }
    75% {
        border-bottom-color: rgb(232, 154, 228);
    }

    100%{
        border-right-color: rgb(232, 154, 228);
 
    }  
}

@media screen and (max-width : 500px) {
    nav ul li > * {
        font-size: small;
    }

    nav ul {
        gap: 10px;
    }
    nav {
        padding: 0 10px;
    }

    nav ul img{
        padding: 10px;
    }
}